<ol class = "nd_visualshortcodes nd-visualshortcodes-parent{{live_preview}}">
  <div class = "nd-visualshortcodes-settings-links nd-visualshortcodes-main-add"><i class="fa fa-plus-square nd_visualshortcodes_add"></i></div>
  <div class = "clearfix nd-visualshortcodes-remove"></div>
  {{output |raw }}
  <div class = "clearfix nd-visualshortcodes-remove end-layout"></div>
  <div class = "nd-visualshortcodes-settings-links nd-visualshortcodes-main-add bottom-links"><i class="fa fa-plus-square nd_visualshortcodes_add"></i></div>
  <div class = "clearfix nd-visualshortcodes-remove"></div>
</ol>