coral/node_modules
coral/dist

coral/npm-debug.log*
coral/dump.rdb

coral/client/coral-framework/graphql/introspection.json
coral/docs/source/_data/introspection.json

coral/.env
coral/*.cfg

coral/.idea/
coral/*.swp
coral/*.DS_STORE
coral/.prettierrc.json
coral/.vscode

coral/coverage/
coral/test/e2e/reports/
coral/test/e2e/bslocal.log
coral/test/e2e/selenium-debug.log
coral/browserstack.err

coral/plugins.json

coral/plugins/*
!coral/plugins/talk-plugin-akismet
!coral/plugins/talk-plugin-auth
!coral/plugins/talk-plugin-author-menu
!coral/plugins/talk-plugin-comment-content
!coral/plugins/talk-plugin-deep-reply-count
!coral/plugins/talk-plugin-downvote
!coral/plugins/talk-plugin-facebook-auth
!coral/plugins/talk-plugin-featured-comments
!coral/plugins/talk-plugin-flag-details
!coral/plugins/talk-plugin-google-auth
!coral/plugins/talk-plugin-ignore-user
!coral/plugins/talk-plugin-like
!coral/plugins/talk-plugin-local-auth
!coral/plugins/talk-plugin-love
!coral/plugins/talk-plugin-member-since
!coral/plugins/talk-plugin-mod
!coral/plugins/talk-plugin-moderation-actions
!coral/plugins/talk-plugin-notifications
!coral/plugins/talk-plugin-notifications-category-featured
!coral/plugins/talk-plugin-notifications-category-reply
!coral/plugins/talk-plugin-notifications-category-staff
!coral/plugins/talk-plugin-notifications-digest-daily
!coral/plugins/talk-plugin-notifications-digest-hourly
!coral/plugins/talk-plugin-offtopic
!coral/plugins/talk-plugin-permalink
!coral/plugins/talk-plugin-profile-data
!coral/plugins/talk-plugin-remember-sort
!coral/plugins/talk-plugin-respect
!coral/plugins/talk-plugin-rich-text
!coral/plugins/talk-plugin-slack-notifications
!coral/plugins/talk-plugin-sort-most-downvoted
!coral/plugins/talk-plugin-sort-most-liked
!coral/plugins/talk-plugin-sort-most-loved
!coral/plugins/talk-plugin-sort-most-replied
!coral/plugins/talk-plugin-sort-most-respected
!coral/plugins/talk-plugin-sort-most-upvoted
!coral/plugins/talk-plugin-sort-newest
!coral/plugins/talk-plugin-sort-oldest
!coral/plugins/talk-plugin-subscriber
!coral/plugins/talk-plugin-toxic-comments
!coral/plugins/talk-plugin-upvote
!coral/plugins/talk-plugin-viewing-options

coral/**/node_modules/*
coral/yarn-error.log

backend/xeras/__pycache__
backend/xeras/*/__pycache__
backend/.idea/*
**/migrations/*