congtran/talk/node_modules
congtran/talk/dist
congtran/talk/npm-debug.log*
congtran/talk/dump.rdb
congtran/talk/client/coral-framework/graphql/introspection.json
congtran/talk/docs/source/_data/introspection.json
congtran/talk/.env
congtran/talk/*.cfg
congtran/talk/.idea/
congtran/talk/*.swp
congtran/talk/*.DS_STORE
congtran/talk/.prettierrc.json
congtran/talk/.vscode
congtran/talk/coverage/
congtran/talk/test/e2e/reports/
congtran/talk/test/e2e/bslocal.log
congtran/talk/test/e2e/selenium-debug.log
congtran/talk/browserstack.err
congtran/talk/plugins.json
congtran/talk/plugins/*
!congtran/talk/plugins/talk-plugin-akismet
!congtran/talk/plugins/talk-plugin-auth
!congtran/talk/plugins/talk-plugin-author-menu
!congtran/talk/plugins/talk-plugin-comment-content
!congtran/talk/plugins/talk-plugin-deep-reply-count
!congtran/talk/plugins/talk-plugin-downvote
!congtran/talk/plugins/talk-plugin-facebook-auth
!congtran/talk/plugins/talk-plugin-featured-comments
!congtran/talk/plugins/talk-plugin-flag-details
!congtran/talk/plugins/talk-plugin-google-auth
!congtran/talk/plugins/talk-plugin-ignore-user
!congtran/talk/plugins/talk-plugin-like
!congtran/talk/plugins/talk-plugin-local-auth
!congtran/talk/plugins/talk-plugin-love
!congtran/talk/plugins/talk-plugin-member-since
!congtran/talk/plugins/talk-plugin-mod
!congtran/talk/plugins/talk-plugin-moderation-actions
!congtran/talk/plugins/talk-plugin-notifications
!congtran/talk/plugins/talk-plugin-notifications-category-featured
!congtran/talk/plugins/talk-plugin-notifications-category-reply
!congtran/talk/plugins/talk-plugin-notifications-category-staff
!congtran/talk/plugins/talk-plugin-notifications-digest-daily
!congtran/talk/plugins/talk-plugin-notifications-digest-hourly
!congtran/talk/plugins/talk-plugin-offtopic
!congtran/talk/plugins/talk-plugin-permalink
!congtran/talk/plugins/talk-plugin-profile-data
!congtran/talk/plugins/talk-plugin-remember-sort
!congtran/talk/plugins/talk-plugin-respect
!congtran/talk/plugins/talk-plugin-rich-text
!congtran/talk/plugins/talk-plugin-slack-notifications
!congtran/talk/plugins/talk-plugin-sort-most-downvoted
!congtran/talk/plugins/talk-plugin-sort-most-liked
!congtran/talk/plugins/talk-plugin-sort-most-loved
!congtran/talk/plugins/talk-plugin-sort-most-replied
!congtran/talk/plugins/talk-plugin-sort-most-respected
!congtran/talk/plugins/talk-plugin-sort-most-upvoted
!congtran/talk/plugins/talk-plugin-sort-newest
!congtran/talk/plugins/talk-plugin-sort-oldest
!congtran/talk/plugins/talk-plugin-subscriber
!congtran/talk/plugins/talk-plugin-toxic-comments
!congtran/talk/plugins/talk-plugin-upvote
!congtran/talk/plugins/talk-plugin-viewing-options
congtran/talk/**/node_modules/*
congtran/talk/yarn-error.log
