frontend/coral-talk/node_modules
frontend/coral-talk/dist
frontend/coral-talk/npm-debug.log*
frontend/coral-talk/dump.rdb
frontend/coral-talk/client/coral-framework/graphql/introspection.json
frontend/coral-talk/docs/source/_data/introspection.json
frontend/coral-talk/.env
frontend/coral-talk/*.cfg
frontend/coral-talk/.idea/
frontend/coral-talk/*.swp
frontend/coral-talk/*.DS_STORE
frontend/coral-talk/.prettierrc.json
frontend/coral-talk/.vscode
frontend/coral-talk/coverage/
frontend/coral-talk/test/e2e/reports/
frontend/coral-talk/test/e2e/bslocal.log
frontend/coral-talk/test/e2e/selenium-debug.log
frontend/coral-talk/browserstack.err
frontend/coral-talk/plugins.json
frontend/coral-talk/plugins/*
!frontend/coral-talk/plugins/talk-plugin-akismet
!frontend/coral-talk/plugins/talk-plugin-auth
!frontend/coral-talk/plugins/talk-plugin-author-menu
!frontend/coral-talk/plugins/talk-plugin-comment-content
!frontend/coral-talk/plugins/talk-plugin-deep-reply-count
!frontend/coral-talk/plugins/talk-plugin-downvote
!frontend/coral-talk/plugins/talk-plugin-facebook-auth
!frontend/coral-talk/plugins/talk-plugin-featured-comments
!frontend/coral-talk/plugins/talk-plugin-flag-details
!frontend/coral-talk/plugins/talk-plugin-google-auth
!frontend/coral-talk/plugins/talk-plugin-ignore-user
!frontend/coral-talk/plugins/talk-plugin-like
!frontend/coral-talk/plugins/talk-plugin-local-auth
!frontend/coral-talk/plugins/talk-plugin-love
!frontend/coral-talk/plugins/talk-plugin-member-since
!frontend/coral-talk/plugins/talk-plugin-mod
!frontend/coral-talk/plugins/talk-plugin-moderation-actions
!frontend/coral-talk/plugins/talk-plugin-notifications
!frontend/coral-talk/plugins/talk-plugin-notifications-category-featured
!frontend/coral-talk/plugins/talk-plugin-notifications-category-reply
!frontend/coral-talk/plugins/talk-plugin-notifications-category-staff
!frontend/coral-talk/plugins/talk-plugin-notifications-digest-daily
!frontend/coral-talk/plugins/talk-plugin-notifications-digest-hourly
!frontend/coral-talk/plugins/talk-plugin-offtopic
!frontend/coral-talk/plugins/talk-plugin-permalink
!frontend/coral-talk/plugins/talk-plugin-profile-data
!frontend/coral-talk/plugins/talk-plugin-remember-sort
!frontend/coral-talk/plugins/talk-plugin-respect
!frontend/coral-talk/plugins/talk-plugin-rich-text
!frontend/coral-talk/plugins/talk-plugin-slack-notifications
!frontend/coral-talk/plugins/talk-plugin-sort-most-downvoted
!frontend/coral-talk/plugins/talk-plugin-sort-most-liked
!frontend/coral-talk/plugins/talk-plugin-sort-most-loved
!frontend/coral-talk/plugins/talk-plugin-sort-most-replied
!frontend/coral-talk/plugins/talk-plugin-sort-most-respected
!frontend/coral-talk/plugins/talk-plugin-sort-most-upvoted
!frontend/coral-talk/plugins/talk-plugin-sort-newest
!frontend/coral-talk/plugins/talk-plugin-sort-oldest
!frontend/coral-talk/plugins/talk-plugin-subscriber
!frontend/coral-talk/plugins/talk-plugin-toxic-comments
!frontend/coral-talk/plugins/talk-plugin-upvote
!frontend/coral-talk/plugins/talk-plugin-viewing-options
frontend/coral-talk/**/node_modules/*
frontend/coral-talk/yarn-error.log
