<div class="fm-logo-wrap local-scroll">
    <a href="{{ url('<front>') }}" class="logo"><img src="{{ logo }}" alt="" /></a>
</div>

<a href="#" class="fm-button"><span></span>{{ "Menu"|t }}</a>

<div class="fm-wrapper" id="fullscreen-menu">
  <div class="fm-wrapper-sub">
    <div class="fm-wrapper-sub-sub">
      <ul class="fm-menu-links local-scroll">
        {{ menu }}
      </ul>
    </div>
  </div>
</div>
