<div class="c-media c-content-overlay">
  <div class="c-overlay-wrapper">
    <div class="c-overlay-content">
      <a href="{{ path }}">
        <i class="icon-link"></i>
      </a>
      <a href="{{ url }}" data-lightbox="fancybox" data-fancybox-group="gallery">
        <i class="icon-magnifier"></i>
      </a>
    </div>
  </div>
  {{ image }}
</div>
