{#
/**
 * @file
 * Default theme implementation for the link shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The link label.
 */
#}
<a{{ attributes }}>{{ text }}</a>