{#
/**
 * @file
 * Default theme implementation for the quote shortcode.
 *
 * Available variables:
 * - class: Class string.
 * - author: The author.
 * - text: The quoted text.
 */
#}
<span class="{{ class }}">
  {% if author %}
    {# TODO: Make translatable #}
    <span class="quote-author">{{ author | trans }} wrote: </span>
  {% endif %}
  {{ text | raw }}
</span>