{#
/**
 * @file
 * Default theme implementation for the dropcap shortcode.
 *
 * Available variables:
 * - class: Class string.
 * - text: The quoted text.
 */
#}
<span class="{{ class }}">{{ text }}</span>