{% extends 'layout.twig' %}

{% block headers %}
  <meta property="og:title" content="IphoneX" />
  <meta property="og:description" content="Some description" />
  <meta property="article:author" content="CongTran" />
  <meta property="og:type" content="article">
{% endblock %}

{% block content %}
<!-- START MOBILE MENU AREA -->
<div class="mobile-menu-area hidden-lg hidden-md">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li>
                                        <a href="index.html">Home Version 1</a>
                                    </li>
                                    <li>
                                        <a href="index-2.html">Home Version 2</a>
                                    </li>
                                    <li>
                                        <a href="index-3.html">Home Version 3</a>
                                    </li>
                                    <li>
                                        <a href="index-4.html">Home 4 Animated Text</a>
                                    </li>
                                    <li>
                                        <a href="index-5.html">Home 5 Animated Text Ovlerlay</a>
                                    </li>
                                    <li>
                                        <a href="index-6.html">Home 6 Background Video</a>
                                    </li>
                                    <li>
                                        <a href="index-7.html">Home 7 BG-Video Ovlerlay</a>
                                    </li>
                                    <li>
                                        <a href="index-8.html">Home 8 Boxed-1</a>
                                    </li>
                                    <li>
                                        <a href="index-9.html">Home 9 Gradient</a>
                                    </li>
                                    <li>
                                        <a href="index-10.html">Home 10 Boxed-2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="shop.html">Products</a>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li>
                                        <a href="shop.html">Shop</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">Shop Left Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="shop-right-sidebar.html">Shop Right Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="shop-list.html">Shop List</a>
                                    </li>
                                    <li>
                                        <a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="single-product.html">Trang Sản Phẩm</a>
                                    </li>
                                    <li>
                                        <a href="single-product-left-sidebar.html">Single Product Left Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="single-product-no-sidebar.html">Single Product No Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">Shopping Cart</a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html">Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">Checkout</a>
                                    </li>
                                    <li>
                                        <a href="order.html">Order</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="My-account-2.html">My Account</a>
                                    </li>
                                    <li>
                                        <a href="about.html">About us</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="blog-2.html">Blog style 2</a>
                                    </li>
                                    <li>
                                        <a href="blog-2-left-sidebar.html">Blog 2 Left Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="blog-2-right-sidebar.html">Blog 2 Right Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="single-blog.html">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MOBILE MENU AREA -->

<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">Trang Sản Phẩm</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Trang Chu</a></li>
                            <li>San Pham</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->

<!-- Start page content -->
<section id="page-content" class="page-wrapper">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <!-- single-product-area start -->
                    <div class="single-product-area mb-80">
                        <div class="row">
                            <!-- imgs-zoom-area start -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="imgs-zoom-area">
                                    <img id="zoom_03" src="img/product/6.jpg" data-zoom-image="img/product/6.jpg" alt="">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/2.jpg" data-zoom-image="img/product/2.jpg">
                                                        <img class="zoom_03" src="img/product/2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/3.jpg" data-zoom-image="img/product/3.jpg">
                                                        <img class="zoom_03" src="img/product/3.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/4.jpg" data-zoom-image="img/product/4.jpg">
                                                        <img class="zoom_03" src="img/product/4.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/5.jpg" data-zoom-image="img/product/5.jpg">
                                                        <img class="zoom_03" src="img/product/5.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/6.jpg" data-zoom-image="img/product/6.jpg">
                                                        <img class="zoom_03" src="img/product/6.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/7.jpg" data-zoom-image="img/product/7.jpg">
                                                        <img class="zoom_03" src="img/product/7.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- imgs-zoom-area end -->
                            <!-- single-product-info start -->
                            <div class="col-md-7 col-sm-7 col-xs-12"> 
                                <div class="single-product-info">
                                    <h3 class="text-black-1">Apple iPhone XS Max 64GB 2 SIM</h3>
                                    <h6 class="brand-name-2">Iphone</h6>
                                    <!--  hr -->
                                    <hr>
                                    <!-- single-pro-color-rating -->
                                    <div class="single-pro-color-rating clearfix">
                                        <div class="sin-pro-color f-left">
                                            <p class="color-title f-left">Màu</p>
                                            <div class="widget-color f-left">
                                                <ul>
                                                    <li class="color-1"><a href="#"></a></li>
                                                    <li class="color-2"><a href="#"></a></li>
                                                    <li class="color-3"><a href="#"></a></li>
                                                    <li class="color-4"><a href="#"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pro-rating sin-pro-rating f-right">
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#" tabindex="0"><i class="zmdi zmdi-star-outline"></i></a>
                                            <span class="text-black-5">( 27 Đánh giá )</span>
                                        </div>
                                    </div>
                                    <!-- hr -->
                                    <hr>
                                    <!-- plus-minus-pro-action -->
                                    <div class="plus-minus-pro-action clearfix">
                                        <div class="sin-plus-minus f-left clearfix">
                                            <p class="color-title f-left">Số Lượng</p>
                                            <div class="cart-plus-minus f-left">
                                                <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                            </div>   
                                        </div>
                                        <div class="sin-pro-action f-right">
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist" tabindex="0"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview" tabindex="0"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare" tabindex="0"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart" tabindex="0"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- plus-minus-pro-action end -->
                                    <!-- hr -->
                                    <hr>
                                    <!-- single-product-price -->
                                    <h3 class="pro-price">Giá: 32.990.000 đ</h3>
                                    <!--  hr -->
                                    <hr>
              <div>
                <a href="#" class="button extra-small button-black" tabindex="-1">
                  <span class="text-uppercase">Mua Ngay</span>
                </a>
              </div>
                                </div>    
                            </div>
                            <!-- single-product-info end -->
                        </div>
        <!-- single-product-tab -->
        <div class="row">
          <div class="col-md-12">
            <!-- hr -->
            <hr>
            <div class="single-product-tab">
              <ul class="reviews-tab mb-20">
                <li  class="active"><a href="#description" data-toggle="tab">miêu tả</a></li>
                <li ><a href="#information" data-toggle="tab">thông tin</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                  <p>Sản phẩm Apple iPhone XS Max 64GB 2 SIM không có quá nhiều thay đổi về thiết kế so với chiếc iPhone X. Apple đã trang bị màu Gold mới cho sản phẩm. Tổng kích thước của máy là 157.5 x 77.4 x 7.7mm và trọng lượng 208g. Đây là phiên bản được Apple trang bị khe để 2 SIM nano thực sự trên một khay SIM..</p>
                  <p>Apple iPhone XS Max 64GB 2 SIM được trang bị màn hình kích thước 6.5 inch và dùng công nghệ tấm nền OLED chính. Sản phẩm có mật độ điểm ảnh đạt 458 ppi. Màn hình của máy có độ phân giải 2688 x 1242 pixel với 3,3 triệu điểm ảnh. Các trải nghiệm xem phim, chơi game, xem ảnh giờ đây sẽ vô cùng thú vị và thoải mái trên chiếc màn hình này.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="information">
                  <p>Hãng sản xuất:	Apple</p>
                  <p>3G: HSPA 42.2/5.76 Mbps.</p>
                  <p>4G: LTE-A (6CA) Cat18 1200/200 Mbps</p>
                  <p>Kích thước: 157.5 - 77.4 - 7.7 mm</p>
                  <p>Trọng lượng: 208g</p>
                  <p>Loại SIM:	2 SIM (Nano-SIM)</p>
                  <p>Kích thước màn hình: 6.5 inches</p>
                  <p>Độ phân giải màn hình:	1242 x 2688 pixel</p>
                  <p>Hệ điều hành: iOS</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="reviews">
                  <!-- reviews-tab-desc -->
                  <div class="reviews-tab-desc">
                    <!-- single comments -->
                    <div class="media mt-30">
                      <div class="media-left">
                        <a href="#"><img class="media-object" src="img/author/1.jpg" alt="#"></a>
                      </div>
                      <div class="media-body">
                        <div class="clearfix">
                          <div class="name-commenter pull-left">
                            <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                            <p class="mb-10">27 Jun, 2017 at 2:30pm</p>
                          </div>
                          <div class="pull-right">
                            <ul class="reply-delate">
                              <li><a href="#">Reply</a></li>
                              <li>/</li>
                              <li><a href="#">Delate</a></li>
                            </ul>
                          </div>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas .</p>
                      </div>
                    </div>
                    <!-- single comments -->
                    <div class="media mt-30">
                      <div class="media-left">
                        <a href="#"><img class="media-object" src="img/author/2.jpg" alt="#"></a>
                      </div>
                      <div class="media-body">
                        <div class="clearfix">
                          <div class="name-commenter pull-left">
                            <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                            <p class="mb-10">27 Jun, 2017 at 2:30pm</p>
                          </div>
                          <div class="pull-right">
                            <ul class="reply-delate">
                              <li><a href="#">Reply</a></li>
                              <li>/</li>
                              <li><a href="#">Delate</a></li>
                            </ul>
                          </div>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas .</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  hr -->
            <hr>
          </div>
        </div>
                    </div>
                    <!-- single-product-area end -->
                    <div class="related-product-area">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-left mb-40">
                                    <h2 class="uppercase">sản phẩm liên quan</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="active-related-product">
                                <!-- product-item start -->
                                <div class="col-xs-12">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="img/product/1.jpg" alt=""/>
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Apple Iphone 7 Plus 32GB</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">16.990.000 đ</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-xs-12">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="img/product/1.jpg" alt=""/>
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Apple Ịphone 8 64GB</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">15.990.000 đ</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-xs-12">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="img/product/1.jpg" alt=""/>
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Samsung Galaxy S9</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">11.890.000 đ</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-xs-12">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="img/product/1.jpg" alt=""/>
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="single-product.html">Product Name</a>
                                            </h6>
                                            <div class="pro-rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                            <h3 class="pro-price">$ 869.00</h3>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- product-item end -->
                            </div>   
                        </div>
                    </div>

                    <!-- coral-talk comment -->
                    <div class="comment-box">
                      <div id="coral_talk_stream"></div>
                      <script src="http://127.0.0.1:3000/static/embed.js" async onload="
                        Coral.Talk.render(document.getElementById('coral_talk_stream'), {
                          talk: 'http://127.0.0.1:3000/'
                        });
                      "></script>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <!-- widget-search -->
                    <aside class="widget-search mb-30">
                        <form action="#">
                            <input type="text" placeholder="Tìm kiếm...">
                            <button type="submit"><i class="zmdi zmdi-search"></i></button>
                        </form>
                    </aside>
                    <!-- widget-categories -->
                    <aside class="widget widget-categories box-shadow mb-30">
                        <h6 class="widget-title border-left mb-20">Categories</h6>
                        <div id="cat-treeview" class="product-cat">
                            <ul>
                                <li class="closed"><a href="#">Nhãn Hàng 1</a>
                                    <ul>
                                        <li><a href="#">Điện thoại</a></li>
                                        <li><a href="#">Máy Tính bảng</a></li>
                                        <li><a href="#">Đồng Hồ Điện Tử</a></li>
                                        <li><a href="#">Tai Nghe</a></li>
                                        <li><a href="#">Bộ Nhớ</a></li>
                                    </ul>
                                </li>                                       
                                <li class="open"><a href="#">Nhãn Hàng 2</a>
                                    <ul>
                                        <li><a href="#">Điện thoại</a></li>
                                        <li><a href="#">Máy Tính bảng</a></li>
                                        <li><a href="#">Đồng Hồ Điện Tử</a></li>
                                        <li><a href="#">Tai Nghe</a></li>
                                        <li><a href="#">Bộ Nhớ</a></li>
                                    </ul>
                                </li>
                                <li class="closed"><a href="#">Phụ Kiện</a>
                                    <ul>
                                        <li><a href="#">Sạc Di Động</a></li>
                                        <li><a href="#">Kính Thông Minh</a></li>
                                        <li><a href="#">Đồng Hồ</a></li>
                                        <li><a href="#">Khác</a></li>
                                    </ul>
                                </li>
                                <li class="closed"><a href="#">Nhãn Hàng Tốt Nhất</a>
                                    <ul>
                                        <li><a href="#">Điện thoại</a></li>
                                        <li><a href="#">Máy Tính bảng</a></li>
                                        <li><a href="#">Đồng Hồ Điện Tử</a></li>
                                        <li><a href="#">Tai Nghe</a></li>
                                        <li><a href="#">Bộ Nhớ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <!-- operating-system -->
                    <aside class="widget operating-system box-shadow mb-30">
                        <h6 class="widget-title border-left mb-20">hệ điều hành</h6>
                        <form action="https://d29u17ylf1ylz9.cloudfront.net/subas-preview/subas/action_page.php">
                            <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry ios</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Android</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">ios</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Symban</label><br>
                            <label class="mb-0"><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry os</label><br>
                        </form>
                    </aside>
                    <!-- widget-product -->
                    <aside class="widget widget-product box-shadow">
                        <h6 class="widget-title border-left mb-20">sản phẩm liên quan</h6>
                        <!-- product-item start -->
                        <div class="product-item">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="img/product/4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="single-product.html">Apple Iphone 7 Plus 32GB</a>
                                </h6>
                                <h3 class="pro-price">16.990.000 đ</h3>
                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="product-item">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="img/product/8.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="single-product.html">Apple Ịphone 8 64GB</a>
                                </h6>
                                <h3 class="pro-price">15.990.000 đ</h3>
                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="product-item">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="img/product/12.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="single-product.html">Samsung Galaxy S9</a>
                                </h6>
                                <h3 class="pro-price">11.890.000 đ</h3>
                            </div>
                        </div>
                        <!-- product-item end -->                               
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->             

</section>
<!-- End page content -->
{% endblock %}
