{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="c-shop-cart-page-1 c-center mt-60">
  <i class="fa fa-frown-o c-font-dark c-font-50 c-font-thin "></i>
  <h2 class="c-font-thin c-center">
    {{ 'Your Shopping Cart is Empty'|t }}
  </h2>
  <a href="{{ url('<front>') }}" class="btn c-btn btn-lg c-btn-dark c-btn-square c-font-white c-font-bold c-font-uppercase">
    {{ 'Continue Shopping'|t }}
  </a>
</div>
