
.banner-container {
    position: relative;
    z-index: 0;

    .banner-fixed {
        position: fixed;
        top: 0;
    }

    .porto-block {
        .ult-carousel-wrapper {
            margin-bottom: 0;
        }
    }

    .master-slider {
        max-width: 100%;
        overflow: hidden;
    }

    .side-nav & {
        margin-top: -1px;

        .master-slider {
            max-width: none;
        }
    }
}

#banner-wrapper.banner-wrapper-boxed {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}