.md-objects .md-object.md-layer-6-11-0 {
z-index: 1000 !important; padding-top: 10px;
 padding-right: 20px;
 padding-bottom: 20px;
 padding-left: 15px;
}
.md-objects .md-object.md-layer-6-11-1 {
z-index: 999 !important;}
.md-objects .md-object.md-layer-6-12-0 {
z-index: 1000 !important; padding-top: 10px;
 padding-right: 20px;
 padding-bottom: 20px;
 padding-left: 15px;
}
.md-objects .md-object.md-layer-6-12-1 {
z-index: 999 !important;}