.md-objects .md-object.md-layer-19-37-0 {
z-index: 1000 !important; font-size: 4em;
 font-weight: 700;
 font-family: "Roboto Condensed";
}
.md-objects .md-object.md-layer-19-38-0 {
z-index: 2 !important; font-weight: 700;
}
.md-objects .md-object.md-layer-19-39-0 {
z-index: 2 !important; font-weight: 700;
}
.md-objects .md-object.md-layer-19-39-1 {
z-index: 2 !important; padding-top: 15px;
 padding-right: 15px;
 padding-bottom: 15px;
 padding-left: 15px;
 font-weight: 700;
}