.md-objects .md-object.md-layer-8-15-0 {
z-index: 1000 !important;}
.md-objects .md-object.md-layer-8-15-1 {
z-index: 999 !important; font-size: 1.75em;
 font-family: "Roboto Condensed";
}
.md-objects .md-object.md-layer-8-15-2 {
z-index: 998 !important;}
.md-objects .md-object.md-layer-8-16-0 {
z-index: 1000 !important;}
.md-objects .md-object.md-layer-8-16-1 {
z-index: 999 !important; font-size: 1.75em;
 font-family: "Roboto Condensed";
}
.md-objects .md-object.md-layer-8-16-2 {
z-index: 998 !important; font-size: 3.6666666666667em;
}