.md-objects .md-object.md-layer-10-19-0 {
z-index: 999 !important;}
.md-objects .md-object.md-layer-10-19-1 {
z-index: 1000 !important;}
.md-objects .md-object.md-layer-10-20-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-10-20-1 {
z-index: 2 !important;}