<div class="c-content-tab-2 c-theme c-opt-1">
  <ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">{{ text|raw }}</ul>
</div>
<div {{ attrs|raw }}>
  <div class="c-bg-img-center1" style="background-image: url({{ url }});">
    <div class="container">
      <div class="tab-content">{{ tabs_content|raw }}</div>
    </div>
  </div>
</div>
