<label class="control-label c-font-uppercase c-font-bold">{{ title|t }}</label>
<div class="c-checkbox">
  <input type="checkbox" id="checkbox-sidebar-3-1" class="c-check">
  <label for="checkbox-sidebar-3-1">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p>{{ 'Not Available'|t }}</p>
  </label>
</div>
<div class="c-checkbox c-checkbox-height">
  <input type="checkbox" id="checkbox-sidebar-3-2" class="c-check">
  <label for="checkbox-sidebar-3-2">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p>{{ 'In Stock'|t }}</p>
  </label>
</div>
