<i class="{{ icon }} c-theme-font c-font-24" style="float: left;"></i>
<div class="c-feature-13-content" style="padding-left: 45px; padding-right: 10px;">
  <h4 class="c-font-uppercase c-theme-font c-font-bold">{{ label }}</h4>
  <p class="c-font-white">{{ text|raw }}</p>
</div>
