<div class="c-content-step-1 c-opt-1">
  <div class="c-icon">
    <span class="c-hr c-theme-border-after c-theme-border-before">
      <span class="c-content-line-icon {{ icon }} c-theme"></span>
    </span>
    {{ text|raw }}
  </div>
</div>
