<div class="{{ icon_type }}">
  <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
    <div class="{{ icon }}"></div>
  </div>
  <h3 class="c-font-uppercase c-title">{{ label }}</h3>
  <p>{{ description|raw }}</p>
</div>
