<div class="c-title c-font-uppercase c-font-bold c-theme-bg">{{ title }}</div>
<div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="6000" data-rtl="false">
  {{ text|raw }}
</div>
