<label class="control-label c-font-uppercase c-font-bold">{{ title|t }}</label>
<div class="c-checkbox">
  <input type="checkbox" id="checkbox-sidebar-2-1" class="c-check" data-stars="5">
  <label for="checkbox-sidebar-2-1">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p class="c-review-star">
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
    </p>
  </label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="checkbox-sidebar-2-2" class="c-check" data-stars="4">
  <label for="checkbox-sidebar-2-2">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p class="c-review-star">
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
    </p>
  </label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="checkbox-sidebar-2-3" class="c-check" data-stars="3">
  <label for="checkbox-sidebar-2-3">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p class="c-review-star">
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
    </p>
  </label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="checkbox-sidebar-2-4" class="c-check" data-stars="2">
  <label for="checkbox-sidebar-2-4">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p class="c-review-star">
      <span class="fa fa-star c-theme-font"></span>
      <span class="fa fa-star c-theme-font"></span>
    </p>
  </label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="checkbox-sidebar-2-5" class="c-check" data-stars="1">
  <label for="checkbox-sidebar-2-5">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p class="c-review-star">
      <span class="fa fa-star c-theme-font"></span></p>
  </label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="checkbox-sidebar-2-6" class="c-check" data-stars="0">
  <label for="checkbox-sidebar-2-6">
    <span class="inc"></span>
    <span class="check"></span>
    <span class="box"></span>
    <p class="c-review-star">{{ 'No yet rated'|t }}</p>
  </label>
</div>
