<div class="item">
  <div class="c-content-v-center c-bg-{{ block_color }}" data-height="height">
    <div class="c-wrapper">
      <div class="c-body c-center c-padding-10">
        <h3 class="c-font-30 c-line-height-35 c-font-white c-font-bold c-font-uppercase">{{ text|raw }}</h3>
      </div>
    </div>
  </div>
</div>
