<li>
  <div class="c-card c-bg-{{ bg_color }} c-font-right">
    <i class="{{ icon }} c-font-white c-font-27 c-theme-bg c-float-right"></i>
    <div class="c-content c-content-right">
      {{ text|raw }}
    </div>
  </div>
</li>
