<li>
  <div class="c-card">
    <i class="{{ icon }} c-theme-font c-font-27 c-float-left"></i>
    <div class="c-content c-content-left">
      {{ text|raw }}
    </div>
  </div>

  {% if border == 1 %}
    <div class="c-border-bottom c-bg-opacity-1"></div>
  {% endif %}

</li>
