<li>
  <div class="c-card c-bg-{{ bg_color }}">
    <i class="{{ icon }} c-font-white c-font-27 c-theme-bg c-float-left"></i>
    <div class="c-content c-content-left">
      {{ text|raw }}
    </div>
  </div>
</li>
