<div class="c-content-media-1-slider c-pagination-bottom" data-slider="owl">
  <div class="owl-carousel owl-theme owl-theme-white owl-single" data-single-item="true" data-auto-play="8000" data-rtl="false">
    <div class="item">
      <div class="c-content-v-center c-theme-bg" data-height="height">
        <div class="c-wrapper">
          <div class="c-body c-center c-padding-10">
            <h3 class="c-font-30 c-line-height-35 c-font-white c-font-bold c-font-uppercase">{{ text1|t }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="c-content-v-center c-bg-red-2" data-height="height">
        <div class="c-wrapper">
          <div class="c-body c-center c-padding-10">
            <h3 class="c-font-30 c-line-height-35 c-font-white c-font-bold c-font-uppercase">{{ text2|t }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
