<li>
  <div class="c-card c-font-right">
    <i class="{{ icon }} c-theme-font c-font-27 c-float-right"></i>
    <div class="c-content c-content-right">
      {{ text|raw }}
    </div>
  </div>

  {% if border == 1 %}
    <div class="c-border-bottom c-bg-opacity-1"></div>
  {% endif %}

</li>
<div class="c-border-middle c-bg-opacity-1"></div>
