<div class="c-overlay-wrapper c-overlay-padding">
  <div class="c-overlay-content">
    <a href="{{ button_link }}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ button_text }}</a>
  </div>
</div>
<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: {{ height }}px; background-image: url({{ filename }});"></div>
<div class="c-overlay-border"></div>
